<div style="padding:20px; 
            height: 30px;
            width: 500px;
            color:#36FF00;
            margin:10px;
            font-size:110%;
            display:fill;
            border-radius:10px;
            border-style: solid;
            border-color: #36FF00;
            background-color:#000000;
            overflow:hidden;
            font-weight:500">Python Basics
            </div>

In [1]:
7 * 7

49

In [2]:
3000 + 5000

8000

In [3]:
print(7 * 7)

49

Değişkenler/Variables - Belirli bir verinin değerini/objeyi saklamak için kullandığımız yapılar. Atadığımız değerlerin farklı farklı şeklleri/türleri vardır.

In [4]:
a = 5

In [5]:
b = 7

In [6]:
a * b

35

In [ ]:
a = 6 #değişkene başka bir değer, obje atayabiliriz, en son atanan değer saklanır

In [8]:
a * b

42

Number Types - Integers, Floats

In [14]:
my_var = 10

my_other_var = 30

In [15]:
my_var + my_other_var

40

In [16]:
type(my_var)

int

In [17]:
type(my_other_var)

int

In [20]:
result =  my_other_var / my_var

result

3.0

In [21]:
type(result)

float

In [22]:
c = 5

d = 2

In [24]:
c / d

2.5

In [25]:
pi = 3.14

type(pi)

float

In [26]:
c + pi

8.14

In [27]:
d * pi

6.28

In [28]:
c / pi

1.592356687898089

Aritmetik İşlemler

In [29]:
x = 3

y = 5

In [30]:
x * y * 8

120

In [31]:
x * x * x * x

81

In [32]:
x ** 4

81

In [33]:
#modulus 

10 % 3

1

In [34]:
#camelcase
userAge = 50

In [35]:
#snake case

user_age = 50

In [36]:
user_age = input("Enter your age: ")

In [37]:
user_age

'50'

In [40]:
type(user_age)

str

In [41]:
user_age * 7

'50505050505050'

Strings

In [42]:
"Merhaba, Dünya!"

'Merhaba, Dünya!'

In [43]:
mb = "hello world"

In [44]:
mb = 1

In [45]:
mb = 2

In [46]:
mb ="hello"

In [47]:
type(mb)

str

In [48]:
g = "new string"

type(g)

str

In [49]:
#String Methods
g.capitalize

In [50]:
g.capitalize()

'New string'

In [51]:
g.split()

['new', 'string']

In [53]:
my_name = "Toygar Par"

In [55]:
mb + " " + my_name

'hello Toygar Par'

In [56]:
user_age

'50'

In [57]:
#type conversion from str to int
int(user_age)

50

In [59]:
lname = "Par"
#len fonk
len(lname)

3

In [60]:
print("python\ntemelleri")

python
temelleri

In [61]:
print("python\ttemelleri")

python	temelleri

Indexing and  Slicing

In [3]:
full_name =  "Toygar Par"

In [4]:
full_name[0]

'T'

In [6]:
full_name[7]

'P'

In [7]:
full_name[-1]

'r'

In [8]:
full_name[5:-1]

'r Pa'

In [9]:
dizi = "0123456789"

In [10]:
dizi[5]

'5'

In [11]:
dizi[3:]

'3456789'

In [12]:
dizi[:3]

'012'

In [14]:
dizi[-2: ]

'89'

In [15]:
dizi[3:7]

'3456'

In [16]:
dizi[::2]

'02468'

In [17]:
dizi[::3]

'0369'

In [18]:
dizi[1:10:3]

'147'

In [19]:
dizi[::-1]

'9876543210'

In [20]:
my_name = "toygar"

In [21]:
my_name.capitalize()

'Toygar'

In [22]:
my_cap_name = my_name.capitalize()

my_cap_name

'Toygar'

In [23]:
full_name

'Toygar Par'

In [24]:
full_name.split()

['Toygar', 'Par']

In [25]:
type(full_name.split())

list

In [27]:
liste = full_name.split()

In [28]:
liste[0]

'Toygar'

In [29]:
full_name.upper()

'TOYGAR PAR'

In [30]:
full_name

'Toygar Par'

In [31]:
full_name[0]

'T'

In [33]:
# full_name[0] = "Ç"  #strings are immutable

In [34]:
my_list = [1, 2, 3, 4]  #lists are sequence

In [35]:
type(list)

type

In [36]:
x = 1

y = 2

liste1 = [x, y]

In [37]:
liste1

[1, 2]

In [38]:
my_list[2]

3

In [39]:
liste1[1]

2

In [40]:
my_list[0] = 111

my_list

[111, 2, 3, 4]

List Methods

In [42]:
my_list.append(5)
my_list

[111, 2, 3, 4, 5, 5]

In [43]:
my_list.pop()  #son elemanı atmaya yarar
my_list

[111, 2, 3, 4, 5]

In [44]:
my_list.pop()

5

In [45]:
my_list

[111, 2, 3, 4]

In [46]:
my_list.reverse()

In [47]:
my_list

[4, 3, 2, 111]

In [48]:
my_list.remove(111)
my_list

[4, 3, 2]

In [50]:
lst = [1, 0]
my_list.extend(lst)
my_list

[4, 3, 2, 1, 0]

In [51]:
my_list.count(2)

1

In [53]:
my_list.index(1)

3

In [54]:
vkf = ["zehra", "marina", "kiera"]

In [55]:
ecz = ["elif", "tijana", "dana"]

In [56]:
ecz[2]

'dana'

In [58]:
golden_team = vkf + ecz

golden_team

['zehra', 'marina', 'kiera', 'elif', 'tijana', 'dana']

In [59]:
vkf * 5

['zehra',
 'marina',
 'kiera',
 'zehra',
 'marina',
 'kiera',
 'zehra',
 'marina',
 'kiera',
 'zehra',
 'marina',
 'kiera',
 'zehra',
 'marina',
 'kiera']

In [61]:
golden_team.sort()
golden_team

['dana', 'elif', 'kiera', 'marina', 'tijana', 'zehra']

In [62]:
sorted(golden_team)

['dana', 'elif', 'kiera', 'marina', 'tijana', 'zehra']

In [63]:
sorted(vkf)

['kiera', 'marina', 'zehra']

In [64]:
player1 = ["zehra", "güneş", 25, "middle blocker", 1.98]

In [65]:
type(player1)

list

In [66]:
type(player1[0])

str

In [67]:
type(player1[-1])

float

In [68]:
player1[2:]

[25, 'middle blocker', 1.98]

In [69]:
players = [[ "zehra", "güneş", 25, "middle blocker", 1.98], ["marina", "markova", 21, "opposite", 2.01]]

In [70]:
players[1][0]

'marina'

In [71]:
nested = [[3,5,8,["x", "y", "z"], 99], 100, 111,[ "xyz", 3,1459],[7, "j"]]

In [73]:
# "z"'yi almaya çalışalım
nested[0][3][2]

'z'

Dictionary

Key-Value Pairs

In [74]:
fruits = [ "apple", "banana", "pear"]

cals = [ 90, 100, 110]

In [77]:
my_dict = dict(map(lambda i, j: (i, j), fruits, cals ))

In [78]:
my_dict

{'apple': 90, 'banana': 100, 'pear': 110}

In [80]:
list(map(lambda i, j: (i, j), fruits, cals ))

[('apple', 90), ('banana', 100), ('pear', 110)]

In [81]:
my_cal_calc = { "apple": 90, "banana": 100, "pear": 110 }

In [82]:
my_cal_calc["banana"]

100

In [83]:
my_cal_calc["banana"] = 150

In [84]:
my_cal_calc

{'apple': 90, 'banana': 150, 'pear': 110}

In [85]:
dic1 = {1: "toygar", 2: "par"}

In [86]:
dic1[1]

'toygar'

In [87]:
dic2 = { "key1": 100, "key2": [1,2,3,4,5,[6,7], "vscode"], "key3": { "keyx": 777}}

In [88]:
dic2["key3"]["keyx"]

777

Dict Methods

In [90]:
dic2.keys()

dict_keys(['key1', 'key2', 'key3'])

In [92]:
dic2.values()

dict_values([100, [1, 2, 3, 4, 5, [6, 7], 'vscode'], {'keyx': 777}])

In [93]:
dic2.items()

dict_items([('key1', 100), ('key2', [1, 2, 3, 4, 5, [6, 7], 'vscode']), ('key3', {'keyx': 777})])

In [97]:
#777 value'sunu almaya çalışalım
dic2.get("key3")["keyx"]

777

In [98]:
#2. anahtar liste içinde [6,7] listesinden 7'yi almaya çalışalım
dic2.get("key2")[5][1]

7

In [99]:
#vscode
dic2.get("key2")[6]

'vscode'

SETS

In [1]:
listem = [1,2,3,3,2,1]

In [2]:
my_set =  set(listem)  #listeyi sete çevirmek

my_set

{1, 2, 3}

In [3]:
myset1 = {"a", "b", "c"}

In [4]:
type(my_set)

set

In [5]:
type(myset1)

set

In [6]:
x = set() #boş set oluşturmak

type(x)

set

In [7]:
x

set()

set methods

In [8]:
x.add(1)

x

{1}

In [11]:
x.add(2)

x

{1, 2}

In [12]:
x.add(1)

x

{1, 2}

In [15]:
y = set([4,5,6])
y

{4, 5, 6}

Tuples

In [16]:
listem1 = [1,2,3,"x", 5.5,8]

In [17]:
listem1[-1]

8

In [18]:
listem1[-2] = 5

listem1

[1, 2, 3, 'x', 5, 8]

In [16]:
t = (1,2,3,"x", 5,8)
t.count(8)

1

In [11]:
t[-1]

8

In [12]:
#t[-2] = 2   #tuple type is immutable

In [13]:
tu = (1,)

type(tu)

tuple

In [15]:
t.index(8)

5

Boolean

In [26]:
bo = True

bo

True

In [27]:
type(bo)

bool

In [1]:
mybool = False
mybool

False

In [28]:
1 < 5

True

In [29]:
1 > 5

False

In [2]:
listem = [ 5000, 10000, 30000, 25000, 15000, 40000]

In [3]:
#len fonksiyonu
len(listem)

6

In [4]:
len

In [7]:
#avg hesaplama

avg = sum(listem) / len(listem)

avg

20833.333333333332

In [9]:
listem[3] > avg

True

In [10]:
listem[1] > avg

False

In [11]:
user_maas = int(input("Maaş bilginizi giriniz: "))

In [12]:
user_maas > avg

True

Comparisons

In [13]:
x = 5

y = 10

In [14]:
x > y

False

In [15]:
x < y

True

In [16]:
x >= y

False

In [17]:
7 >= 7

True

In [18]:
x <= y

True

In [19]:
x == y

False

In [20]:
x != y

True

In [21]:
3 > 2 and 5 > 3

True

In [22]:
2 > 3 and 5 > 3

False

In [24]:
4 > 3 or 3 > 5 #exppression'lardan biri doğru olursa True döner

True

In [25]:
not 3 > 5

True

In [27]:
not 7 == 7 #olumsuzluk manası taşır

False

## Control Flows

### Conditionals

<code style="background:red;color:white">
If Statements
</code>

In [29]:
4 > 2 #bu tarz kontrol ifadeler kullanarak  işlemler yapabiliriz

True

In [30]:
if 4 > 2:
    print("4, 2'den büyüktür")

4, 2'den büyüktür

In [33]:
if 4 < 2:    #if bloğu içindeki koşul sağlanmazsa hiçbir şey yapmaz, body'deki kod bloğu çalışmaz
    print("4, 2'den küçüktür")

print("if bloğu dışındayım")

if bloğu dışındayım

In [36]:
x = 5

y = 3

In [41]:
if x > y:    #koşulu sağladıktan sonra her şey bizim elimizde, yeni işlemler yapmak için
    print("x, y'den büyüktür")
    a = 8
    b = 9
    print(a * b)    #if bloğu içinde yeni işlemler yapabiliriz
elif y > x:
    print("y, x'den büyüktür")
else:
    print("x ve y eşittir")

x, y'den büyüktür
72

In [47]:
hero = input("Enter your fav hero: ")

In [49]:
if hero == "batman":
    print("Batman is the best")
elif hero == "superman":
    print("Superman is the best")
elif hero == "spiderman":
    print("Spiderman is the best")
else:
    print("You have no taste")

Superman is the best

In [50]:
#Koşullu mantık operatörleri

a = 1
b = 2
c = 3

In [52]:
if a < b and b < c:
    print("a, b'den küçük ve b, c'den küçüktür")
elif a > b or b > c:
    print("a, b'den büyük veya b, c'den büyüktür")
elif not a > c:
    print("a, c'den büyük değildir")    #not operatörü ile olumsuzluk durumu kontrol edilir
else:
    print("koşullar tutmuyor")

a, b'den küçük ve b, c'den küçüktür

In [53]:
m = 11
k = 7
l = 2

In [54]:
if m > k or k > l:
    print("m, k'den büyük veya k, l'den büyüktür")

m, k'den büyük veya k, l'den büyüktür

In [56]:
if m > k or k < l:
    print("m, k'den büyük veya k, l'den küçük ama  expr yine de çalıştı, çünkü ilk koşul sağlandı")

m, k'den büyük veya k, l'den küçük ama  expr yine de çalıştı, çünkü ilk koşul sağlandı

<code style="background:yellow;color:red">If Conditionals and Collections</code>

In [57]:
karakter_canli = True

In [59]:
if karakter_canli == True:
    print("Karakter canlı")
else:
    print("Karakter ölü")

Karakter canlı

In [60]:
if karakter_canli:  
    print("Karakter canlı")

if not karakter_canli:
    print("Karakter ölü")

Karakter canlı

In [61]:
#stringlerde koşullu ifadeler

my_str = "Toygar Par"

In [63]:
if my_str == "toygar par":
    print("Toygar Par")
else:
    print("Toygar Par capitalized yazılmamış")  #stringlerde büyük küçük harf duyarlılığı vardır

Toygar Par capitalized yazılmamış

In [65]:
if "Par" in my_str:
    print("Par is in my_str")
else:
    print("Par is not in my_str")

Par is in my_str

In [66]:
mylist = [1,2,3,4,5]

In [67]:
if 3 in mylist:
    print("3, mylist içinde")

3, mylist içinde

In [68]:
my_dict = { "a": 1, "b": 2, "c": 3}

In [69]:
my_dict.keys

In [72]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [75]:
if "a" in my_dict.keys():    #anahtarlar üzerinde kontrol yapabiliriz
    print("a, my_dict içinde")

a, my_dict içinde

In [74]:
if 1 in my_dict.values():  #değerlerde arama yapmak için values() fonksiyonunu kullanırız
    print("1, my_dict içinde")

1, my_dict içinde

<code style="background:yellow;color:red">For Loops</code>

In [76]:
#for loops belirli bir koşulda belir bir sayıda işlem yapmak için kullanılır

my_list = [1,2,3,4,5,6,7,8,9,10]

In [77]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [78]:
my_list[2] * 4 * 7

84

In [82]:
print("loop başladı")
for num in my_list:
    print(num * 4 * 7)
print("loop bitti")

loop başladı
28
56
84
112
140
168
196
224
252
280
loop bitti

In [83]:
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f"{num} is an odd number")

1 is an odd number
2
3 is an odd number
4
5 is an odd number
6
7 is an odd number
8
9 is an odd number
10

In [84]:
for num in my_list:
    new_num = num * 4 / 2
    print(new_num)

2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0

In [85]:
new_list = [1,2,3,4,5,6,7,8,9,10]

In [88]:
for i in new_list:
    if i % 3  == 0: #3'e bölünebilen sayıları yazdırır
        print(i)
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3
4 is not divisible by 3
5 is not divisible by 3
6
7 is not divisible by 3
8 is not divisible by 3
9
10 is not divisible by 3

In [89]:
new_str = "Toygar Par, one mean mean mofo!"

In [90]:
for x in new_str:
    print(x)

T
o
y
g
a
r

P
a
r
,

o
n
e

m
e
a
n

m
e
a
n

m
o
f
o
!

In [91]:
my_tuple = (1,2,3,4,5,6)

In [93]:
for element in my_tuple:
    print(element - 10)

-9
-8
-7
-6
-5
-4

In [2]:
koordinat_listesi = [(10.2, 15.2), (45.5, 14.9), (26.9, 20.2)]

In [3]:
type(koordinat_listesi)

list

In [4]:
type(koordinat_listesi[1])

tuple

In [5]:
for (x,y) in koordinat_listesi:
    print(x)

10.2
45.5
26.9

In [8]:
weirdo = [(1,2,3), (4,5,6),(7,8,9)]
for (x ,y, z) in weirdo:
    print(z)

3
6
9

In [9]:
sozluk  = { "a": 1, "b": 2, "c": 3}

In [10]:
sozluk.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [11]:
type(sozluk.items())

dict_items

In [12]:
for key, value in sozluk.items():
    print(key, value)

a 1
b 2
c 3

Continue, Break, Pass Statements

In [13]:
a_liste = [5, 10, 15, 20, 25, 30]

In [14]:
for num in a_liste:
    print(num / 5)

1.0
2.0
3.0
4.0
5.0
6.0

In [20]:
for num in a_liste:
    if  num % 3 ==0:
        break
    print(num)

5
10

In [21]:
for num in a_liste:
    if  num % 3 ==0:
        continue
    print(num)

5
10
20
25

In [25]:
for num in a_liste:
    if  num % 3:   #if statement holds True then continue to print those divisible by 3
        continue
    print(num)

15
30

In [26]:
for num in a_liste:
    if  not num % 3:   #if statement  holdsnot True then continue to  print those not divisible by 3
        continue
    print(num)

5
10
20
25

In [27]:
for num in a_liste:
      pass   #pass statement is a null operation, nothing happens when it executes

<code style="background:yellow;color:red">While Loops</code>

In [35]:
x = 0

while x < 10:
    print(x)
    print("hello")
    x= x + 1   #to end the loop at  some point let's increment x by 1

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [36]:
listem2 = [1,2,3,4,5,6,7,8,9,10]

In [37]:
listem2.pop()

10

In [38]:
listem2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
listem2.append(10)

In [40]:
listem2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
while 3 in listem2:
    print("3 halen listede")
    listem2.pop()

3 halen listede
3 halen listede
3 halen listede
3 halen listede
3 halen listede
3 halen listede
3 halen listede
3 halen listede

In [42]:
numara = 0

while numara < 5:
    if numara == 4:
        break
    print(numara)
    numara += 1

0
1
2
3

In [46]:
numara = 0

while numara < 5:
    numara += 1
    if numara == 3:     
        continue
    print(numara)

1
2
4
5

In [47]:
var = 0

while var < 15:
    print(f"yeni değişkenin güncel değeri: {var}")  #curly brackets içinde yazılanları kod olarak nitelendirir
    var += 1

yeni değişkenin güncel değeri: 0
yeni değişkenin güncel değeri: 1
yeni değişkenin güncel değeri: 2
yeni değişkenin güncel değeri: 3
yeni değişkenin güncel değeri: 4
yeni değişkenin güncel değeri: 5
yeni değişkenin güncel değeri: 6
yeni değişkenin güncel değeri: 7
yeni değişkenin güncel değeri: 8
yeni değişkenin güncel değeri: 9
yeni değişkenin güncel değeri: 10
yeni değişkenin güncel değeri: 11
yeni değişkenin güncel değeri: 12
yeni değişkenin güncel değeri: 13
yeni değişkenin güncel değeri: 14

In [3]:
print("Welcome to Grade Point Average Calculator")
print("Please enter all your grades one per line. Enter a blank line to finish input!")

# map from letter grade to point value
points = { "A+" :4.0, "A" :4.0, "A-" :3.67, "B+" :3.33, "B" :3.0, "B-" :2.67,
"C+" :2.33, "C":2.0, "C" :1.67, "D+" :1.33, "D" :1.0, "F" :0.0}

num_courses = 0
total = 0
done = False

while not done:
    grade = input()

    if grade == "":
        done = True
    elif grade not in points:                           #disregard unrecognized grade input
        print(f"Unknown grade {grade} being ignored")
    else:
        num_courses += 1
        total += points[grade]

if num_courses > 0:                                     #avoid division by 0
    print(f"Your GPA is { total/num_courses:.3f} ")

Welcome to Grade Point Average Calculator
Please enter all your grades one per line. Enter a blank line to finish input!
Your GPA is 2.890

<code style="background:yellow;color:red">Veri Bilimi için Faydalı Fonksiyonlar</code>

In [51]:
#range fonksiyonu

range(0, 10)

range(0, 10)

In [52]:
type(range(0, 10))

range

In [55]:
for i in range(0, 10):
    print(i * 5)

0
5
10
15
20
25
30
35
40
45

In [56]:
list(range(0,10, 2))

[0, 2, 4, 6, 8]

In [58]:
#enumerate fonksiyonu

index = 0

for num in list(range(0, 13)):
    print(f"index: {index} num: {num}")
    index += 1

index: 0 num: 0
index: 1 num: 1
index: 2 num: 2
index: 3 num: 3
index: 4 num: 4
index: 5 num: 5
index: 6 num: 6
index: 7 num: 7
index: 8 num: 8
index: 9 num: 9
index: 10 num: 10
index: 11 num: 11
index: 12 num: 12

In [61]:
for num in enumerate(list(range(10, 23))):
    print(num)

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)
(10, 20)
(11, 21)
(12, 22)

In [62]:
for num in enumerate(range(10, 23)):
    print(num)

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)
(10, 20)
(11, 21)
(12, 22)

In [64]:
for (index, num) in enumerate(range(10, 23)):
    print(index,"------>", num)

0 ------> 10
1 ------> 11
2 ------> 12
3 ------> 13
4 ------> 14
5 ------> 15
6 ------> 16
7 ------> 17
8 ------> 18
9 ------> 19
10 ------> 20
11 ------> 21
12 ------> 22

In [66]:
#random library and its functions

import random

random.randint(0, 10)

2

In [72]:
new_list = [1,2,3,4,5,6,7,8,9,10]
new_list[random.randint(0, 10)]

1

In [68]:
from random import choice

liste = [1,2,3,4,5,6,7,8,9,10]

choice(liste)

4

In [74]:
from random import shuffle

new_list = [1,2,3,4,5,6,7,8,9,10]

shuffle(new_list)

new_list

[9, 7, 1, 10, 8, 6, 2, 3, 4, 5]

In [1]:
#ileri seviye işlemler - zip fonksiyonu

players = [ "Zehra Güneş", "Marina Markova", "Cansu Özbay"]
positions = ["Middle Blocker", "Opposite", "Passer"]
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday"]

In [2]:
zip(players, positions)

In [4]:
list(zip(players, positions, weekdays))

[('Zehra Güneş', 'Middle Blocker', 'monday'),
 ('Marina Markova', 'Opposite', 'tuesday'),
 ('Cansu Özbay', 'Passer', 'wednesday')]

In [5]:
zipped = list(zip(players, positions, weekdays))

for pla in zipped:
    print(type(pla))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [6]:
zipped

[('Zehra Güneş', 'Middle Blocker', 'monday'),
 ('Marina Markova', 'Opposite', 'tuesday'),
 ('Cansu Özbay', 'Passer', 'wednesday')]

In [7]:
#Lİsteler ileri seviye

list_init = []

my_name =  "Toygar Par"

for letter in my_name:
    list_init.append(letter)

list_init

['T', 'o', 'y', 'g', 'a', 'r', ' ', 'P', 'a', 'r']

In [8]:
new_str = "Toygar Par"

new_list_init_comp = [harf for harf in new_str]  #list comprehension

print(new_list_init_comp)

['T', 'o', 'y', 'g', 'a', 'r', ' ', 'P', 'a', 'r']

In [9]:
_2nd_list_sample = [num * 3 for num in range(10)]

_2nd_list_sample

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [10]:
[num ** 3 for num in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

<code style="background:yellow;color:red">Functions - Fonksiyonlar and Metotlar(Sınıflar içinde kullanılan fonklar)</code>

In [11]:
mynameis = "Toygar Par"

In [12]:
mynameis.upper

In [13]:
mynameis.upper()

'TOYGAR PAR'

In [15]:
upMyName = mynameis.upper()

upMyName

'TOYGAR PAR'

In [16]:
mynameis

'Toygar Par'

In [18]:
help(mynameis.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [19]:
#ilk fonksiyonu yazalım

def ilk_fonksiyon():
    print("benim ilk fonksiyonum")

In [20]:
ilk_fonksiyon

In [21]:
ilk_fonksiyon()

benim ilk fonksiyonum

In [22]:
#input to func and return

pass_arg = input("Yazdırılacak mesajı yazın: ")

def say_hello(input):
    print(input)

In [25]:
say_hello(pass_arg)  #daha önceden kullanıcıdan aldığımız ve atadığımız bir değeri fonka geçebiliriz.

hello world

In [26]:
say_hello("Hello Toygar") #direk argüman geçebiliriz

Hello Toygar

In [30]:
def say_my_name(name = "Toygar"): #parametere argüman için default değer atama
    print(f"{name} is the man!")

In [31]:
say_my_name("Osman")

Osman is the man!

In [32]:
say_my_name()

Toygar is the man!

In [33]:
def add(x, y):    #herhangi bir değer döndürmüyor, fonksiyon None geri getiriyor
    result = x + y
    print(result)

In [34]:
add(3,5)

8

In [39]:
def coklu_toplam(a, b , c):
    print(a + b + c)

coklu_toplam(1,2,3)

6

In [37]:
def super_add(*args): # gelen bütün argümanları otomatik alalım ve toplayalım
    print(sum(args))

In [38]:
super_add(1,2,3)

6

In [52]:
g = add(3,5) #başka bir değişkene atama için return fonku kullanmamız gerekiyor aksi halde add fonk NoneType geri döndürür

type(g)

8

NoneType

In [41]:
def add_v2(x, y): #bu fonksiyon bir sonuç döndürür
    return x + y

In [42]:
add_v2(1,3)

4

In [45]:
h = add_v2(1,3)

type(h)

int

In [46]:
print(h)

4

In [47]:
def kontrol_fonk(s):
    if s == "Toygar":
        print("verdiğiniz string Toygar")

    else:
        print("Verdiğiniz string başka bir şey")

In [48]:
kontrol_fonk("Toygar")

verdiğiniz string Toygar

In [49]:
kontrol_fonk("Böçüş")

Verdiğiniz string başka bir şey

In [50]:
# *args & *kwargs - fonka sayısız argüman ve keyword argüman geçme


def super_add(*args): # gelen bütün argümanları otomatik alalım ve toplayalım
    return sum(args)

In [51]:
super_add(1,2,3,4,5)

15

In [56]:
def my_fn(*args):
    #print(args)    #nonetype geri döndürür
    return(args)

In [57]:
my_fn(20, 30, 40)

(20, 30, 40)

In [58]:
type(my_fn(20, 30, 40))

tuple

In [62]:
def sample_fn(**kwargs):
    return(kwargs)

In [63]:
sample_fn(apple = 100, banana = 110, pear = 120)

{'apple': 100, 'banana': 110, 'pear': 120}

In [64]:
type(sample_fn(apple = 100, banana = 110, pear = 120))

dict

In [65]:
def keyword_kontrol(**kwargs):
    if "Toygar" in kwargs:
        print("Toygar is the man")
    else:
        print("Who that?")

In [67]:
keyword_kontrol(Toygar = 50, Böçüş = 10)

Toygar is the man

In [68]:
keyword_kontrol(toygar = 50, Böçüş = 10)

Who that?

In [69]:
#Önemli/Faydalı Fonksiyonlar

def div_by_2(x):
    return x / 2

In [70]:
div_by_2(30)

15.0

In [71]:
samp_list = [1,2,3,4,5,6,7,8,9]

In [76]:
y_liste = []

for num in samp_list:
    y_liste.append(div_by_2(num))

y_liste

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [72]:
#map fonk - map( funcs, iterables)
list( map(div_by_2, samp_list) )

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [77]:
type(map(div_by_2, samp_list))

map

In [73]:
yeni_liste = []  #boş bir liste oluşturuyoruz ve map ile oluşturulan listedeki elemanları bu yeni listeye ekliyoruz.

for x in list( map(div_by_2, samp_list) ):
    yeni_liste.append(x)

yeni_liste

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [75]:
[x for x in list( map(div_by_2, samp_list) )]  #using list comp

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [78]:
"o" in "Toygar"

True

In [79]:
def ctrlfn(string):
    return "a" in string

In [80]:
ctrlfn("Toygar")

True

In [81]:
ctrlfn("Böçüş")

False

In [88]:
stringlistesi = ["toygar", "taco", "buzz", "çıtır", "böçüş", "roxy", "şehmuz", "nataşa","kocaoğlan", "garip", "kocakafa"]

In [89]:
list(map(ctrlfn, stringlistesi))

[True, True, False, False, False, False, False, True, True, True, True]

In [90]:
theAlist = list(map(ctrlfn, stringlistesi))

theAlist

[True, True, False, False, False, False, False, True, True, True, True]

In [91]:
theAlist.count(True)

6

In [92]:
theAlist.count(False)

5

In [94]:
#filter fonksiyonu

list(filter(ctrlfn, stringlistesi))  #true olan elemanları gösterir, false elemanları çıkarır

['toygar', 'taco', 'nataşa', 'kocaoğlan', 'garip', 'kocakafa']

In [95]:
#lambda fonksiyonu

mul = lambda num : num *3

In [96]:
mul(10)

30

In [101]:
samp_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
or_list = list(map(lambda num: num * 4, samp_list))

or_list

[4, 8, 12, 16, 20, 24, 28, 32, 36]


<code style="background:yellow;color:red">Scopes</code>

LEGB -  Local, Enclosing, Global, Built-in

In [103]:
number = 25

def mul(num):
    number = 10
    return number * num

In [106]:
mul(5)  #uses local val

50

In [105]:
print(number) #global

25

In [109]:
fname = "Toygar" #global

def my_fn():
    fname = "Musti"  #enclosing
    def inner_fn():
        fname = "Şaziye" #local 
        print(fname)

    inner_fn()

In [110]:
my_fn()

Şaziye

In [111]:
fname

'Toygar'

In [112]:
p = 11

def new_fn(p):
    print(p) #ilk verdiğiniz arg'i yazar
    p = 7
    print(p) #sonra local atamayı yazdırır
    return p  # ve en son yapılan local atamayı döndürür

In [113]:
new_fn(4)

4
7

7

In [114]:
p

11

In [115]:
t = 10

def samp_fn():
    global t
    t = 3
    print(t)

In [116]:
samp_fn()

3

In [121]:
t # fonk içinde global t declare ettik, global t'yi de değiştirdik

3

In [1]:
import sys


def calc(x, y, fn):
    """
    Performs a calculation based on the operation provided.

    Args:
        x: The first operand.
        y: The second operand.
        fn: The operation to perform (+, -, *, /, //, **, %).

    Returns:
        A string representing the result of the calculation or an error message.
    """
    if fn not in {"+", "-", "*", "/", "//", "**", "%"}:
        return "Lütfen geçerli bir işlem seçiniz!"

    if fn == "+":
        return f"{x} + {y} = {x + y}"
    elif fn == "-":
        return f"{x} - {y} = {x - y}"
    elif fn == "*":
        return f"{x} * {y} = {x * y}"
    elif fn == "/":
        if y == 0:
            return "Sıfıra bölme hatası!"
        return f"{x} / {y} = {x / y}"
    elif fn == "//":
        if y == 0:
            return "Sıfıra bölme hatası!"
        return f"{x} // {y} = {x // y}"
    elif fn == "**":
        return f"{x} ** {y} = {x ** y}"
    elif fn == "%":
        if y == 0:
            return "Sıfıra bölme hatası!"
        return f"{x} % {y} = {x % y}"
    





while True:
    user_menu_input= input ("1-İşlem Yapınız\n2-Programdan Çıkınız\nLütfen seçim yapınız: ")
    if user_menu_input == "1":
        try:
            # Kullanıcıdan giriş al
            # user_input = input("İşlem yapmak için aralara boşluk koyarak iki sayı ve işlem opratörü [format: <sayı1> <işlem> <sayı2>] giriniz veya ([q] ile çıkabilirsiniz): ")

            x = input("İlk sayısal değeri giriniz ('q' ile çıkabilirsiniz): ")
            if x.lower() == "q":  # Exit check
                print("Programdan çıkılıyor...")
                sys.exit()

            fn = input("Yapmak istediğiniz işlem operatörünü giriniz (+, -, *, /, //, **, % veya 'q' ile çıkabilirsiniz): ")
            if fn.lower() == "q":  # Exit check
                print("Programdan çıkılıyor...")
                sys.exit()

            y = input("İkinci sayısal değeri giriniz ('q' ile çıkabilirsiniz): ")
            if y.lower() == "q":  # Exit check
                print("Programdan çıkılıyor...")
                sys.exit()

            
            
            

            

            # # Verileri ayıkla ve işle
            # parts = user_input.split()
            # if len(parts) != 3:
            #     print("Lütfen şu formatta giriş yapın: <sayı1> <işlem> <sayı2> (örn: 5 + 3)")
            #     continue

            # x, fn, y = parts[0], parts[1], parts[2]


            

            # Sayılara dönüştür
            x = float(x)
            y = float(y)

            # Hesaplama yap ve sonucu yazdır
            result = calc(x, y, fn)
            print(result)

        except ValueError:
            print("Hatalı giriş! Sayılar ve geçerli bir işlem kullanınız.")
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

    elif user_menu_input == "2":    #menü çıkış kontrolü
        print("Programdan çıkılıyor...")
        break
    else:
        print("Hatalı Menü Seçimi yaptınız!")

Programdan çıkılıyor...

SystemExit:

/home/toygar/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)